{% extends 'base.html.twig' %}

{% block body %}

    <div class="starter-template">
        <h1 class="display-2">Petshop - School of net</h1>
        <p class="lead">Avançando com symfony 4 - Indo mais fundo com Doctrine</p>
    </div>

{% endblock %}
